<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ghost Hologram Mirror App</title>
    <style type="text/css" rel="stylesheet">
      #img-container {
        opacity: 1;
        transition: opacity 0.5s;
      }

      #img-container.fade {
        opacity: 0;
      }
    </style>
  </head>
  <body class="dark:bg-black h-screen w-screen">
    <div
      id="img-container"
      class="dark:bg-black h-screen w-screen bg-contain bg-center bg-no-repeat"
    ></div>
  </body>
  <script type="text/javascript">
    let conn;
    let displayTimeout;
    let fadeTimeoutID;

    function setupWebsocket() {
      const { protocol, hostname, port } = document.location;
      const scheme = protocol === "https:" ? "wss" : "ws";
      const serverUrl = `${scheme}://${hostname}:${port}/ws`;
      conn = new WebSocket(serverUrl);

      conn.onopen = function () {
        sendVisibilityStatus();
        conn.send(JSON.stringify({ messageType: "mirrorConnected" }));
      };

      conn.onclose = (evt) => {
        conn.send(JSON.stringify({ messageType: "mirrorDisconnected" }));
      };

      conn.onmessage = (event) => {
        try {
          const data = JSON.parse(event.data);

          if (data.messageType === "setImage") {
            document.getElementById(
              "img-container"
            ).style.backgroundImage = `url("${data.payload}")`;
          } else if (data.messageType === "setInterval") {
            resetTimeouts();
            displayImageIfHidden();

            const { fadeInterval, fadeTimeUnit, displayLength, displayTimeUnit } =
              JSON.parse(data.payload);

            setDisplayInterval(
              fadeInterval,
              fadeTimeUnit,
              displayLength,
              displayTimeUnit
            );
          } else if (data.messageType === "clearInterval") {
            resetTimeouts();
            displayImageIfHidden();
            sendVisibilityStatus();
          } else if (data.messageType === "checkConnection") {
            if (conn) {
              conn.send(JSON.stringify({ messageType: "mirrorConnected" }));
            }
          }
        } catch (e) {
          console.log(e);
        }
      };
    }

    window.onload = () => {
      setupWebsocket();
    };

    function setDisplayInterval(
      fadeInterval,
      fadeTimeUnit,
      displayLength,
      displayTimeUnit
    ) {
      const displayTimeout = parseMilliseconds(displayLength, displayTimeUnit);
      const fadeTimeout = parseMilliseconds(fadeInterval, fadeTimeUnit);

      fadeTimeoutID = window.setInterval(toggleImageFade, fadeTimeout, displayTimeout);
    }

    /**
     * Display image for set time interval, then wait for fade interval
     * to finish and then restart loop
     */
    function toggleImageFade(displayTimeout, fadeTimeout) {
      document.getElementById("img-container").classList.remove("fade");
      sendVisibilityStatus();

      setTimeout(() => {
        document.getElementById("img-container").classList.add("fade");
        sendVisibilityStatus();
      }, displayTimeout);
    }

    function resetTimeouts() {
      window.clearInterval(fadeTimeoutID);
      fadeTimeoutID = null;
    }

    function parseMilliseconds(length, timeUnit) {
      let value = length;

      if (timeUnit == "SECONDS") {
        value = value * 1000;
      } else if (timeUnit == "MINUTES") {
        value = value * 60000;
      }

      return value;
    }

    function displayImageIfHidden() {
      if (document.getElementById("img-container").classList.contains("fade")) {
        document.getElementById("img-container").classList.remove("fade");
      }
    }

    function sendVisibilityStatus() {
      const isVisible = !document
        .getElementById("img-container")
        .classList.contains("fade");

      if (conn) {
        conn.send(
          JSON.stringify({ messageType: "setVisibilityStatus", payload: isVisible })
        );
      }
    }
  </script>
</html>
